mixin picture(data, source)
	picture&attributes(attributes)
		if source
			each object in source
				source(
					srcset=object.srcset
					media=object && object.media ? object.media : null
					type=object && object.media ? object.type : null
				)

		img(src=data.src alt=data.alt)